@media (min-width: 480px) and (max-width: 767px) {
    #a {
        grid-area: a;
    }
    #b {
        grid-area: b;
    }
    #c {
        grid-area: c;
    }
    #d {
        grid-area: d;
    }
    #e {
        grid-area: e;
        border-right: 1px solid #4a4a4aa6;
    }
    #f {
        grid-area: f;
    }
    #g {
        grid-area: g;
        border-right: 1px solid #4a4a4aa6;
    }
    #h {
        grid-area: h;
    }
    #i {
        grid-area: i;
    }

}

@media (min-width: 768px) and (max-width: 960px) {
    #a {
        grid-area: a;
    }
    #b {
        grid-area: b;
    }
    #c {
        grid-area: c;
    }
    #d {
        grid-area: d;
    }
    #e {
        grid-area: e;
        border-right: 1px solid #4a4a4aa6;
    }
    #f {
        grid-area: f;
    }
    #g {
        grid-area: g;
        border-right: 1px solid #4a4a4aa6;

    }
    #h {
        grid-area: h;
    }
    #i {
        grid-area: i;
    }

}

@media (min-width: 961px) {

    #a {
        grid-area: a;
    }
    #b {
        grid-area: b;
    }
    #c {
        grid-area: c;
    }
    #d {
        grid-area: d;
    }
    #e {
        grid-area: e;
    }
    #f {
        grid-area: f;
    }
    #g {
        grid-area: g;
    }
    #h {
        grid-area: h;
    }
    #i {
        grid-area: i;
    }


}