@media (min-width: 480px) and (max-width: 767px) {
    #a, #i {
        background-color: #c016c0;
    }
    #b, #c, #d {
        background-color: #D896FF;
    }
    #e, #f, #g, #h {
        background-color: #EFBBFF;
    }
}

@media (min-width: 768px) and (max-width: 960px) {
    #a, #i {
        background-color: #2D1300;
    }
    #b {
        background-color: #783201;
    }
    #c, #d, #e, #f, #g, #h {
        background-color: #C37E4C;
    }
    /* #a, #i {
        background-color: #2D1300;
    }
    #b {
        background-color: #783201;
    }
    #c, #d, #e, #f, #g, #h {
        background-color: #C37E4C;
    } */
}